{% extends 'dashboard/layout/base.html' %}

{% load i18n static %}

{% block simple_datatables %}
<link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
{% endblock simple_datatables %}


{% block main %}
  {% include 'dashboard/pages/assets_management/assets/holders/partials/header.html' %}

  <div class="container-xl px-4 mt-n10">
    {% include 'dashboard/pages/assets_management/partials/header_cards.html' %}

    <div class="row">
      <div class="col-12">
        <!-- Tabbed dashboard card -->
        <div class="card mb-4">
          <div class="card-header border-bottom">
            <!-- Dashboard card navigation -->
            <ul class="nav nav-tabs card-header-tabs" id="dashboardNav" role="tablist">
              <li class="nav-item me-1">
                <a class="nav-link active" id="assets-pill" href="#assets" data-bs-toggle="tab" role="tab"
                  aria-controls="assets" aria-selected="true">
                  {% trans 'My Historical Assets' %}
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link" id="offers-pill" href="#offers" data-bs-toggle="tab" role="tab" aria-controls="offers"
                  aria-selected="false">
                  {% trans 'Assets in Demand (Offers)' %}
                </a>
              </li>
            </ul>
          </div>

          <div class="card-body">
            <div class="tab-content" id="dashboardNavContent">
              <!-- Dashboard Tab Pane 1 -->
              <div class="tab-pane fade show active" id="assets" role="tabpanel" aria-labelledby="assets-pill">
                <div class="mb-4 mb-lg-0">
                  {% include 'dashboard/pages/assets_management/assets/holders/partials/tables/assets_tab_table.html' %}
                </div>
                <div class="mb-4 mb-lg-0">
                  {% include 'dashboard/pages/assets_management/assets/holders/partials/tables/locations_table.html' %}
                </div>
              </div>

              <!-- Dashboard Tab Pane 2 -->
              <div class="tab-pane fade" id="offers" role="tabpanel" aria-labelledby="offers-pill">
                {% if not offers %}
                  <div class="alert alert-danger text-center" role="alert">
                    {% blocktrans %}
                      You have no assets registered. Register an asset to see available positions.
                    {% endblocktrans %}
                    <a href="{% url 'assets_location:add_asset_location' %}" class="btn btn-outline-danger my-3">
                      {% trans 'Add New Asset' %} <i class="mx-1 fa-solid fa-folder-plus"></i>
                    </a>
                  </div>

                  <div class="my-2">
                    {% trans 'Total current offers:' %} {{ total_offers }}
                  </div>
                {% endif %}

                {% include 'dashboard/pages/assets_management/assets/holders/partials/tables/offers_tab_table.html' %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block simple_datatables_js %}
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js"
  crossorigin="anonymous"></script>
<script src="{% static 'assets/js/dashboard/datatables/simple-datatable.js' %}"></script>
{% endblock %}

{% block body_custom_js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
{% endblock body_custom_js %}

{% block modals %}
  {% include 'dashboard/pages/assets_management/assets/holders/partials/modals/delete_asset_modal.html' %}
{% endblock modals %}

