{% load i18n static %}

<!-- Hero Section -->
<section id="hero" class="hero section hv-100">
  <video autoplay muted loop playsinline class="hero-video">
    <source
      src="{% static 'assets/videos/hero-bg-video.mp4' %}"
      type="video/mp4"
    />
    {% trans 'Your browser does not support the video tag.' %}
  </video>

  <div class="container" data-aos="fade-up" data-aos-delay="100">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="hero-content" data-aos="fade-up" data-aos-delay="200">
          <h1 class="mb-4 text-white">
            {% trans 'HISTORICAL ASSETS' %} <br />
          </h1>
          <h2 class="mb-4 text-white">
            <span class="accent-text">ATLAS | {% trans 'All-in-one Suite' %}</span>
          </h2>
          <h3 style="color:#FED100" class="mb-4">
            {% trans 'Comprehensive and Secure Historical Asset Management Solution' %}
          </h3>
          <div class="hero-buttons">
            
            {% if request.user.user_type in 'HRI' %}
              <a href="{% url 'assets:holder_index' %}" class="btn btn-primary me-0 me-sm-2 mx-1">
                {% trans 'Client Area' %}
              </a>
            {% elif request.user.user_type in 'B' %}
            <!-- Todo modify url to buyer_index -->
              <a href="{% url 'assets:holder_index' %}" class="btn btn-primary me-0 me-sm-2 mx-1">
                {% trans 'Buyer Client Area' %}
              </a>
            {% else %}
              <a href="{% url 'account:register' %}" class="btn btn-outline-success me-0 me-sm-2 mx-1">
                <i class="bi bi-person-fill-add me-1"></i>{% trans 'Register' %}
              </a>
            {% endif %}
              

            <a href="https://propensionesabogados.com/" class="btn btn-link mt-2 mt-sm-0 glightbox" target="_blank">
                <i class="bi bi-bank me-1"></i>
                {% trans 'PROPENSIONES ABOGADOS INTERNATIONAL' %}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Hero Section -->