{% load i18n %}

<footer id="footer" class="footer mt-3">
    <div class="container footer-top">
        <div class="row gy-4 justify-content-md-center">

          <div class="col-md-3 footer-about">
            <a href="{% url 'core:index' %}" class="logo d-flex align-items-center">
              <span class="sitename">ATLAS</span>
            </a>
            <div class="footer-contact pt-3">
              <p>Calle 21 No. 16-37 Oficina 705 Edificio BancoPopular</p>
              <p>Colombia, Armenia, Quindio</p>
              <p class="mt-3"><strong>{% trans 'Phone:' %}</strong> <span>+(57) 318 328 01 76</span></p>
              <p><strong>{% trans 'Email:' %}</strong> <span>support@propensionesabogados.com</span></p>
            </div>
          </div>
  
          <div class="col-md-3 footer-links">
            <h4>{% trans 'Useful Links' %}</h4>
            <ul>
              <li><a href="{% url 'core:index' %}#hero">{% trans 'Home' %}</a></li>
              <li><a href="{% url 'core:index' %}#about">{% trans 'About us' %}</a></li>
              {% comment %} <li><a href="{% url 'core:index' %}#">Services</a></li> {% endcomment %}
              <li><a href="{% url 'core:index' %}">{% trans 'Terms of service' %}</a></li>
              <li><a href="{% url 'core:index' %}">{% trans 'Privacy policy' %}</a></li>
            </ul>
          </div>
  
          {% comment %}
          <div class="col-md-3 footer-links">
            <h4>{% trans 'Our Services' %}</h4>
            <ul>
              <li><a href="{% url 'core:index' %}">S1</a></li>
              <li><a href="{% url 'core:index' %}">S2</a></li>
              <li><a href="{% url 'core:index' %}">S3</a></li>
              <li><a href="{% url 'core:index' %}">S4</a></li>
              <li><a href="{% url 'core:index' %}">S5</a></li>
            </ul>
          </div>
          {% endcomment %}
    
          

          <div class="col-md-3 footer-links">
            <h4>{% trans 'Social Networks' %}</h4>
            <div class="social-links d-flex mt-4">
              <a href=""><i class="bi bi-twitter-x"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>
  
    <div class="container copyright text-center mt-4">
        <p>© {% now "M Y" %} <a class="px-1 sitename" href="https://propensionesabogados.com" target="_blank">Propensiones Abogados.</a>{% trans 'Your unconditional ally. All Rights Reserved.' %} </p>
        <div class="credits">
            {% trans 'Created by' %} <a href="http://sebasmoralesd.com" target="_blank">Sebastian Morales</a>
        </div>
    </div>
</footer>