{% extends 'dashboard/layout/base.html' %}

{% load i18n static %}

{% block simple_datatables %}
  <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
{% endblock simple_datatables %}


{% block main %}
    <header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
      <div class="container-xl px-4">
        <div class="page-header-content pt-4">
          <div class="row align-items-center justify-content-between">
            <div class="col-auto mt-4">
              <h1 class="page-header-title">
                <div class="page-header-icon">
                  <i data-feather="activity"></i>
                </div>
                {% trans 'Dashboard' %}
              </h1>
              <div class="page-header-subtitle">{% trans 'Overview and content summary' %}</div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- Main page content -->
    <div class="container-xl px-4 mt-n10">
      <div class="row">

        <div class="col-6 mb-4">
          <!-- Dashboard example card 1 -->
          <a class="card lift h-100" href="{% url 'assets:create_asset' %}">
            <div class="card-body d-flex justify-content-center flex-column">
              <div class="d-flex align-items-center justify-content-between">
                <div class="me-3">
                  <i class="feather-xl text-primary mb-3" data-feather="package"></i>
                  <h5>{% trans 'Add new Asset' %}</h5>
                  <div class="text-muted small">{% trans 'Enter a new historical asset' %}</div>
                </div>
                <img src="{% static 'assets/img/illustrations/browser-stats.svg' %}" alt="new historical asset" style="width: 8rem" />
              </div>
            </div>
          </a>
        </div>

        <div class="col-6 mb-4">
          <!-- Dashboard example card 2 -->
          <a class="card lift h-100" href="https://wa.me/573183280176?text=suporte%20plataforma%20atlas" target="_blank" rel="noopener noreferrer">
            <div class="card-body d-flex justify-content-center flex-column">
              <div class="d-flex align-items-center justify-content-between">
                <div class="me-3">
                  <i class="feather-xl text-secondary mb-3" data-feather="book"></i>
                  <h5>{% trans 'Support' %}</h5>
                  <div class="text-muted small">
                    {% blocktrans %}Do you need help? get support now{% endblocktrans %}
                  </div>
                </div>
                <img src="{% static 'assets/img/illustrations/processing.svg' %}" alt="support" style="width: 8rem" />
              </div>
            </div>
          </a>
        </div>

      </div>

      <div class="row">
        <div class="col-12">
          <!-- Tabbed dashboard card example -->
          <div class="card mb-4">
            <div class="card-header border-bottom">
              <!-- Dashboard card navigation -->
              <ul class="nav nav-tabs card-header-tabs" id="dashboardNav" role="tablist">
                <li class="nav-item me-1">
                  <a class="nav-link active" id="assets-pill" href="#assets" data-bs-toggle="tab" role="tab" aria-controls="assets" aria-selected="true">
                    {% trans 'My Historical Assets' %}
                  </a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" id="offers-pill" href="#offers" data-bs-toggle="tab" role="tab" aria-controls="offers" aria-selected="false">
                    {% trans 'Assets in Demand (Offers)' %}
                  </a>
                </li>

              </ul>
            </div>
            
            <div class="card-body">
              <div class="tab-content" id="dashboardNavContent">
                <!-- Dashboard Tab Pane 1 -->
                <div class="tab-pane fade show active" id="assets" role="tabpanel" aria-labelledby="assets-pill">
                  <div class="mb-4 mb-lg-0">
                    <table id="assets_table">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>{% trans 'Asset Name (EN)' %}</th>
                          <th>{% trans 'Asset Name (ES)' %}</th>
                          <th>{% trans 'Category (EN)' %}</th>
                          <th>{% trans 'Category (ES)' %}</th>
                          <th>{% trans 'Description' %}</th>
                          <th>{% trans 'Quantity Type' %}</th>
                          <th>{% trans 'Total Quantity' %}</th>
                          <th>{% trans 'Actions' %}</th>
                        </tr>
                      </thead>
                      <tfoot>
                        <tr>
                          <th>#</th>
                          <th>{% trans 'Asset Name (EN)' %}</th>
                          <th>{% trans 'Asset Name (ES)' %}</th>
                          <th>{% trans 'Category (EN)' %}</th>
                          <th>{% trans 'Category (ES)' %}</th>
                          <th>{% trans 'Description' %}</th>
                          <th>{% trans 'Quantity Type' %}</th>
                          <th>{% trans 'Total Quantity' %}</th>
                          <th>{% trans 'Actions' %}</th>
                        </tr>
                      </tfoot>
                      <tbody>
                        {% for asset in assets %}
                        <tr>
                          <td>{{ forloop.counter }}</td>
                          <td>{{ asset.name }}</td>
                          <td>{{ asset.es_name }}</td>
                          <td>{{ asset.category.name }}</td>
                          <td>{{ asset.category.es_name }}</td>
                          <td>{{ asset.description }}</td>
                          <td>{{ asset.get_quantity_type_display }}</td>
                          <td>{{ asset.total_quantity }}</td>
                          <td>
                              {% comment %}
                                {% url 'assets:edit_asset' asset.id %}
                                {% url 'assets:delete_asset' asset.id %}
                              {% endcomment %}
                              <button class="btn btn-datatable btn-icon btn-outline-cyan"><i class="fa-regular fa-pen-to-square"></i></button>
                              <button class="btn btn-datatable btn-icon btn-outline-danger"><i class="fa-regular fa-trash-can"></i></button>
                          </td>
                        </td>
                        </tr>
                        {% empty %}
                        <tr>
                          <td colspan="8" class="text-center">{% trans 'No assets available' %}</td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
                <!-- Dashboard Tab Pane 2 -->
                <div class="tab-pane fade" id="offers" role="tabpanel" aria-labelledby="offers-pill">
                  <table id="offers_table">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>{% trans 'Asset (ES)' %}</th>
                        <th>{% trans 'Asset (EN)' %}</th>
                        <th>{% trans 'Category' %}</th>
                        <th>{% trans 'Quantity Type' %}</th>
                        <th>{% trans 'Offer Amount per Quantity Type (BIS)' %}</th>
                        <th>{% trans 'Needed' %}</th>
                        <th>{% trans 'Country' %}</th>
                        <th>{% trans 'Apply' %}</th>
                      </tr>
                    </thead>
                    <tfoot>
                      <tr>
                        <th>#</th>
                        <th>{% trans 'Asset (ES)' %}</th>
                        <th>{% trans 'Asset (EN)' %}</th>
                        <th>{% trans 'Category' %}</th>
                        <th>{% trans 'Quantity Type' %}</th>
                        <th>{% trans 'Offer Amount per Quantity Type (BIS)' %}</th>
                        <th>{% trans 'Needed' %}</th>
                        <th>{% trans 'Country' %}</th>
                        <th>{% trans 'Actions' %}</th>
                      </tr>
                    </tfoot>
                    <tbody>
                      {% for offer in offers %}
                      <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ offer.asset_es }}</td>
                        <td>{{ offer.asset_en }}</td>
                        <td>{{ offer.asset_type }}</td>
                        <td>{{ offer.get_quantity_type_display }}</td>
                        <td>{{ offer.offer_amount }}</td>
                        <td>{{ offer.offer_quantity }}</td>
                        <td>{{ offer.buyer_country.country_name }}</td>
                        <td>
                          <button class="btn btn-datatable btn-icon btn-outline-info"><i class="fa-solid fa-circle-info"></i></button>
                          <a href="https://wa.me/573183280176?text=Quiero%20aplicar%20a%20una%20postura" class="btn btn-datatable btn-icon btn-outline-success"><i class="fa-brands fa-whatsapp"></i></a>
                        </td>
                      </tr>
                      {% empty %}
                      <tr>
                        <td colspan="8" class="text-center">{% trans 'No offers available' %}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block simple_datatables_js %}
  <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
  <script src="{% static 'assets/js/dashboard/datatables/simple-datatable.js' %}"></script>
{% endblock %}
