{% extends "core/base.html" %}
{% load i18n static %}

{% block title %}
{% trans "Registro exitoso" %}
{% endblock title %}

{% block main %}
<main class="container min-vh-100" style="padding-top: 100px;">
    <div class="alert alert-success text-center">
        <h2>{% trans "¡Gracias por confirmar tu POL!" %}</h2>
        <p>{% trans "Tu información ha sido registrada exitosamente." %}</p>
        <small>{% trans "Ya puedes cerrar esta pestaña" %}</small>
    </div>
</main>
{% endblock main %}


{% block body_custom_js %}
<script>
    setTimeout(() => {
        window.close();
    }, 30000);
</script>
{% endblock body_custom_js %}