{% load i18n %}

<table id="assets_table">
  <thead>
    <tr>
      <th>#</th>
      <th>{% trans 'Asset Name (EN)' %}</th>
      <th>{% trans 'Asset Name (ES)' %}</th>
      <th>{% trans 'Category (EN)' %}</th>
      <th>{% trans 'Category (ES)' %}</th>
      <th>{% trans 'Description' %}</th>
      <th>{% trans 'Quantity Type' %}</th>
      <th>{% trans 'Country' %}</th>
      <th>{% trans 'Total Quantity' %}</th>
      <th>{% trans 'Actions' %}</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th>#</th>
      <th>{% trans 'Asset Name (EN)' %}</th>
      <th>{% trans 'Asset Name (ES)' %}</th>
      <th>{% trans 'Category (EN)' %}</th>
      <th>{% trans 'Category (ES)' %}</th>
      <th>{% trans 'Description' %}</th>
      <th>{% trans 'Quantity Type' %}</th>
      <th>{% trans 'Country' %}</th>
      <th>{% trans 'Total Quantity' %}</th>
      <th>{% trans 'Actions' %}</th>
    </tr>
  </tfoot>
  <tbody>
    {% for asset in assets %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ asset.name }}</td>
      <td>{{ asset.es_name }}</td>
      <td>{{ asset.category.name }}</td>
      <td>{{ asset.category.es_name }}</td>
      <td>{{ asset.description }}</td>
      <td>{{ asset.get_quantity_type_display }}</td>
      <td>
        {% for location in asset.assetlocation_assetlocation_asset.all %}
          {{ location.location.country.country_name }}: {{ location.amount }}<br>
        {% endfor %}
      </td>
      <td>{{ asset.total_quantity }}</td>
      <td>
          <a href="{% url 'assets:edit_asset' asset.id %}" class="btn btn-datatable btn-icon btn-outline-cyan btn-modal-edit" data-asset-id="{{ asset.id }}"><i class="fa-regular fa-pen-to-square"></i></a>
          <button class="btn btn-datatable btn-icon btn-outline-danger btn-modal-delete" data-asset-id="{{ asset.id }}"><i class="fa-regular fa-trash-can"></i></button>
      </td>
    </tr>
    {% empty %}
    {% endfor %}
  </tbody>
</table>